/*Default Tag Rules*/
html, body {
    height: 100%;
    position: relative;
    padding: 0px;
    margin: 0px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

* {
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
}

img{
    display: inline-block;
    margin: 10px auto;
    width: 100%;
}

a {
    color: rgb(240, 10, 10);
    text-decoration: none;
}

a:hover{
    color: rgb(180, 10, 10);
}

/* Wrappers */
.wrapper {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#navigation-wrapper{
    border-style: none none solid none;
    border-color: rgb(255, 255, 255);
    border-width: 4px;
    text-transform: capitalize;
}

#content-wrapper{
    margin-top: 80px;
    text-align: justify;
}

/* General */
.subsection{
    width: 60%;
    padding: 10px;
    margin: 30px auto;
}

.subsection:first-child{
    margin: 15px auto;
}

.subsection:first-child .sectionTitle{
    margin-bottom: 60px;
}

.sectionBody .image-container {
    padding: 0px 40px;
}

.sectionBody p{
    text-indent: 0px;
    line-height: 26px;
}

.sectionTitle {
    display: block;
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0px auto 10px auto;
}

.social-media img{
    width: 20px;
    margin: 0px 30px;
    vertical-align: middle;
}

.social-media a:nth-child(2) img{
    width: 30px;
}

.social-media a:nth-child(3) img{
    width: 34px;
}

/*Navbar and subNavigation*/
#navbar {
    border-style: none;
    text-align: left;
    background-color: rgb(117, 10, 10);
    color: rgba(255, 255, 255, 1);
}

#GRTEmblem {
    display: inline-block;
    font-size: 26px;
    padding: 0px 0px 0px 20px;
}

#GRTEmblem a img{
    width: 80px;
}

#navContainer {
    position: relative;
    display: inline-block;
    float: right;
    height: 62px;
}

ul#navList {
    float: right;
    font-size: 17px;
    height: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

ul#navList li {
    display: inline-block;
    height: 100%;
}

ul#navList li a {
    display: inline-block;
    height: 100%;
    padding: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

ul#navList li a:hover {
    background-color: rgb(97, 0, 0);
}

/*Sub Navigation for most pages*/
div.subNavbar{
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

div.subNavbar:not(.active){
    display: none;
}

ul.subNavList{
    display: block;
    font-size: 13px;
    height: 100%;
    list-style-type: none;
    margin: 0px auto;
    padding: 0px;
}

ul.subNavList li{
    display: inline-block;
}

ul.subNavList li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

ul.subNavList li a:hover {
    background-color: rgb(40, 40, 40);
}

/*Footer Rules*/
div#footer-wrapper{
    position: relative;
    text-align: center;
    padding: 20px 0px;
    margin: 0px;
    bottom: -.5px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(220, 220, 220, 1); /*Temporary*/
}
