/*Default Tag Rules*/
html, body {
    height: 100%;
    position: relative;
    padding: 0px;
    margin: 0px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgb(0, 0, 0);
}

* {
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
}

.tabImage{
    display: flex;
    max-width: 100%;
    max-height: 100%;
}
img{
    display: inline-block;
    margin: 10px auto;
    width: 100%;
}

p:last-child{
    margin-bottom: 0px;
}

a {
    color: rgb(240, 10, 10);
    text-decoration: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
}

a:hover{
    color: rgb(180, 10, 10);
}

/* Wrappers */
.wrapper {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#navigation-wrapper{
    border-style: none none solid none;
    border-color: rgb(255, 255, 255);
    border-width: 4px;
    text-transform: capitalize;
}

#content-wrapper{
    margin: 80px auto 130px auto;
}

.subsection-wrapper{
    width: 100%;
    background-size: 100%;
    background-position: 50% 50%;
    text-align: justify;
    margin: 65px 0px;
    padding: 0px;
}

.subsection-wrapper:first-child{
    margin-top:0px;
}

.subsection-wrapper:last-child{
    margin-bottom:0px;
}

.imaged-subsection-wrapper{
    padding: 80px 0px 110px 0px;
    margin-bottom: 110px;
}

/* General Text Formatting */
.title{
    display: block;
    color: rgb(240, 10, 10);
}

.bold{
    font-weight: 600;
}

/* General Structuring */
.subsection{
    width: 60%;
    padding: 0px;
    margin: 0px auto;
}

.imaged-subsection-wrapper .subsection .sectionTitle{
    margin: 0px auto 92px auto;
}

.subsection-wrapper:first-child .subsection .sectionTitle{
    margin-bottom: 60px;
}

.sectionBody .image-container {
    padding: 0px;
}

.sectionBody p{
    text-indent: 0px;
    line-height: 26px;
    margin-bottom: 32px;
}

.sectionTitle {
    display: block;
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px auto 15px auto;
}

.social-media img{
    width: 20px;
    margin: 0px 30px;
    vertical-align: middle;
}

.social-media a:nth-child(2) img{
    width: 30px;
}

.social-media a:nth-child(3) img{
    width: 34px;
}

/*Navbar and subNavigation*/
#navbar {
    border-style: none;
    text-align: left;
    background-color: rgb(117, 10, 10);
    color: rgba(255, 255, 255, 1);
}

#GRTEmblem {
    display: inline-block;
    font-size: 26px;
    padding: 0px 0px 0px 20px;
}

#GRTEmblem a img{
    width: 80px;
}

#navContainer {
    position: relative;
    display: inline-block;
    float: right;
    height: 62px;
}

ul#navList {
    float: right;
    font-size: 14px;
    height: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

ul#navList li {
    display: inline-block;
    position: relative;
    height: 100%;
}

.pointer{
    position: absolute;
    width: 100%;
    left:0px;
    text-align: center;
    bottom: -1px;
    margin: 0px;
}

.pointer:not(.activePointer){
    display: none;
}

.pointer img{
    position: relative;
    display: block;
    width: 30px;
    margin: 0px auto;
}

ul#navList li a {
    display: inline-block;
    height: 100%;
    padding: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

ul#navList li a:hover {
    background-color: rgb(97, 0, 0);
}

/*Sub Navigation for most pages*/
div.subNavbar{
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

div.subNavbar:not(.active){
    display: none;
}

ul.subNavList{
    display: block;
    font-size: 13px;
    height: 100%;
    list-style-type: none;
    margin: 0px auto;
    padding: 0px;
}

ul.subNavList li{
    position: relative;
    display: inline-block;
}

ul.subNavList li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: rgba(150, 150, 150, 1);
}

ul.subNavList li a.active, ul.subNavList li a:hover {
    color: rgb(255, 255, 255);
}




/*Footer Rules*/
div#footer-wrapper{
    position: relative;
    text-align: center;
    padding: 20px 0px;
    margin: 0px;
    bottom: -.5px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(220, 220, 220, 1); /*Temporary*/
}

/*Testing in progress*/
/*.hoverimg {
    position: relative;
    display: inline-block;
    margin: 10px auto;
    width: 100%;
    opacity:1;
}
.hoverimgimg{
    transition: opacity 1s, visibility 1s;
}
.hoverimg:hover .hoverimgimg{
    transition: opacity 1s, visibility 1s;
    opacity:.5;
}
.hoverimg_descriptionlayer {
    align-items: center;
    opacity: 0;
    color: black;
    font-size: 20px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: opacity 1s, visibility 1s;
}
.hoverimg:hover .hoverimg_descriptionlayer {
    opacity: 1;
    transition: opacity 1s, visibility 1s;
}

.tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tablinks {
    width: 200px;
    height: 100px;
}*/
<<<<<<< HEAD
.row:after {
    content: "";
    display: table;
    clear: both;
}
=======
>>>>>>> e09ef38d23418047c08d5e98969105ae90a48ecc

.column {
    float: left;
    width: 25%;
<<<<<<< HEAD
    max-height: 15%;
=======
>>>>>>> e09ef38d23418047c08d5e98969105ae90a48ecc
    padding: 10px;
}

.column img {
    opacity: .8;
<<<<<<< HEAD
    cursor: pointer;;
=======
    cursor: pointer;
>>>>>>> e09ef38d23418047c08d5e98969105ae90a48ecc
}

.column img:hover{
    opacity: 1.0;
}

.testBox {
    position: relative;
    display: none;
}

#imgtext {
    position: absolute;
<<<<<<< HEAD
    padding: 20px;
    top: 15px;
    color: rgb(100,100,100);
    font-size: 24px;
    font-weight: bold;
=======
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

.wrap-image {
>>>>>>> e09ef38d23418047c08d5e98969105ae90a48ecc
}
